*.o
.settings
config.h
config.status
*.swn
*.swo
*~
*.swp
*.orig
*Makefile
config.log
*.Po
.deps/*
*.a
modigliani/auxsrc/compute_derivative_from_column
modigliani/auxsrc/axon-simulator
modigliani/auxsrc/find_spikes_in_binary_file
modigliani/auxsrc/find_spikewords_in_binary_file
modigliani/auxsrc/generate_white_noise
modigliani/auxsrc/make_histogram_from_txt_file
modigliani/auxsrc/make_nt_class_files
modigliani/auxsrc/measure_mutual_information_in_binary_file
modigliani/auxsrc/show_binary_file
modigliani/auxsrc/test_ring_buffer
modigliani/examples/.myelinaxonsimulator-v1.cpp.swp
modigliani/examples/MembraneFluctuationsStHH
modigliani/examples/WhiteNoise1.0e-8StHH
modigliani/examples/WhiteNoiseMultiCOmpartmentSImulationWithCompartmentVoltageHistogramming
modigliani/examples/analyse_binary_data_for_isi_with_histogram
modigliani/examples/basic_glx_demo
modigliani/examples/channel_density_vs_noise_variance
modigliani/examples/channel_spike_trigger
modigliani/examples/diffusion_signalling
modigliani/examples/diffusion_vs_wave_signalling
modigliani/examples/dynamic_flight
modigliani/examples/flying_demo
modigliani/examples/flying_through
modigliani/examples/gaussian_isi_spikes_on_deterministic_axon
modigliani/examples/gaussian_isi_spikes_on_langevin_axon
modigliani/examples/hh_sodium_channel_model
modigliani/examples/hranvier_sodium_channel_model
modigliani/examples/ion_channels_and_open_state_variance
modigliani/examples/merge_text_file_columns
modigliani/examples/multi_compartment_neuron
modigliani/examples/myelinaxonsimulator-v1
modigliani/examples/nt3d_drv_test
modigliani/examples/nt3d_glx_test
modigliani/examples/ntg_grandom_graph_efficiency_study
modigliani/examples/ntg_ring_graph_test
modigliani/examples/ntg_test
modigliani/examples/patlak_sodium_channel_model
modigliani/examples/performance_current_classes_comparison
modigliani/examples/planetary_demo
modigliani/examples/resting_potential_noise
modigliani/examples/saltatory_conduction
modigliani/examples/single_compartment_spiker
modigliani/examples/somasimulator-v1
modigliani/examples/somasimulator-v1-SGA
modigliani/examples/spheric_flying_demo
modigliani/examples/stochastic_ion_channels
modigliani/examples/test_code
modigliani/examples/test_graph_distance_stats
modigliani/examples/test_membrane_currents
modigliani/examples/tunnel_flight_demo
modigliani-api/*
*.log
Makefile.in
autom4te.cache*
configure
config.h.in

/aclocal.m4
doc/html/
compile
install-sh
missing
modigliani/auxsrc/axon_simulator
modigliani/auxsrc/network
modigliani/auxsrc/resting_potential
modigliani/auxsrc/single_compartment_resting_potential
modigliani/auxsrc/single_compartment_simulator
modigliani/auxsrc/voltage_step
stamp-h1
depcomp
