*.o
*.swn
*.swo
*~
*.swp
*.orig
*Makefile
config.log
*.Po
.deps/*
*.a
nettrader/auxsrc/compute_derivative_from_column
nettrader/auxsrc/find_spikes_in_binary_file
nettrader/auxsrc/find_spikewords_in_binary_file
nettrader/auxsrc/generate_white_noise
nettrader/auxsrc/make_histogram_from_txt_file
nettrader/auxsrc/make_nt_class_files
nettrader/auxsrc/measure_mutual_information_in_binary_file
nettrader/auxsrc/show_binary_file
nettrader/auxsrc/test_ring_buffer
nettrader/examples/.myelinaxonsimulator-v1.cpp.swp
nettrader/examples/MembraneFluctuationsStHH
nettrader/examples/WhiteNoise1.0e-8StHH
nettrader/examples/WhiteNoiseMultiCOmpartmentSImulationWithCompartmentVoltageHistogramming
nettrader/examples/analyse_binary_data_for_isi_with_histogram
nettrader/examples/basic_glx_demo
nettrader/examples/channel_density_vs_noise_variance
nettrader/examples/channel_spike_trigger
nettrader/examples/diffusion_signalling
nettrader/examples/diffusion_vs_wave_signalling
nettrader/examples/dynamic_flight
nettrader/examples/flying_demo
nettrader/examples/flying_through
nettrader/examples/gaussian_isi_spikes_on_deterministic_axon
nettrader/examples/gaussian_isi_spikes_on_langevin_axon
nettrader/examples/hh_sodium_channel_model
nettrader/examples/hranvier_sodium_channel_model
nettrader/examples/ion_channels_and_open_state_variance
nettrader/examples/merge_text_file_columns
nettrader/examples/multi_compartment_neuron
nettrader/examples/myelinaxonsimulator-v1
nettrader/examples/nt3d_drv_test
nettrader/examples/nt3d_glx_test
nettrader/examples/ntg_grandom_graph_efficiency_study
nettrader/examples/ntg_ring_graph_test
nettrader/examples/ntg_test
nettrader/examples/patlak_sodium_channel_model
nettrader/examples/performance_current_classes_comparison
nettrader/examples/planetary_demo
nettrader/examples/resting_potential_noise
nettrader/examples/saltatory_conduction
nettrader/examples/single_compartment_spiker
nettrader/examples/somasimulator-v1
nettrader/examples/somasimulator-v1-SGA
nettrader/examples/spheric_flying_demo
nettrader/examples/stochastic_ion_channels
nettrader/examples/test_code
nettrader/examples/test_graph_distance_stats
nettrader/examples/test_membrane_currents
nettrader/examples/tunnel_flight_demo
nettrader-api/*
*.log
