*.o
.settings
config.h
config.status
*.swn
*.swo
*~
*.swp
*.orig
*Makefile
config.log
*.Po
.deps/*
*.a
*.lo
*.la
**/.deps/
**/.libs/
config.guess
config.sub
libtool
ltmain.sh

src/auxsrc/generate_white_noise
src/auxsrc/modigliani
*.log
Makefile.in
autom4te.cache*
configure
config.h.in

/aclocal.m4
doc/html/
compile
install-sh
missing
src/auxsrc/network
src/auxsrc/resting_potential
*.DS_Store
stamp-h1
depcomp
show_binary_file

test/tests
